<redirect>
    <table class="table">
        <thead>
        <tr th:each="citizen : ${citizen}">
            <meta charset="UTF-8">
            <script th:inline="javascript">
                document.addEventListener("DOMContentLoaded", function() {
                    setTimeout(function() {
                        window.location.href = '/citizen/{citizen_id}(citizen_id=${citizen.id}';
                    }, 1500);
             });

        </script>
        </tr>
        </thead>
</redirect>