<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Automatic Redirect Page</title>
</head>
<body>

<redirect>
    <table class="table">
        <thead>
        <tr th:each="citizen : ${citizen}">
            <!-- Adjust the Thymeleaf expression for the redirection URL -->
            <script th:inline="javascript">
                document.addEventListener("DOMContentLoaded", function() {
                    setTimeout(function() {
                        window.location.href = /*[[@{'/citizen/' + citizen.id}]]*/ '/citizen/' + /*[[${{citizen.id}}]]*/;
                    }, 1500);
                });
            </script>
        </tr>
        </thead>
    </table>
</redirect>

</body>
</html>
